In [5]:
import pandas as pd
import numpy as np

In [9]:
s= pd.Series(['Tom','William Rick','John',np.nan,'Albert','1234','Steve Smith'])

In [12]:
s.str.upper()

0             TOM
1    WILLIAM RICK
2            JOHN
3             NaN
4          ALBERT
5            1234
6     STEVE SMITH
dtype: object

In [13]:
s.str.lower()

0             tom
1    william rick
2            john
3             NaN
4          albert
5            1234
6     steve smith
dtype: object

In [14]:
s.str.len()

0     3.0
1    12.0
2     4.0
3     NaN
4     6.0
5     4.0
6    11.0
dtype: float64

In [19]:
s.str.count('albert')

0    0.0
1    0.0
2    0.0
3    NaN
4    0.0
5    0.0
6    0.0
dtype: float64

In [20]:
s.str.repeat(2)

0                      TomTom
1    William RickWilliam Rick
2                    JohnJohn
3                         NaN
4                AlbertAlbert
5                    12341234
6      Steve SmithSteve Smith
dtype: object

In [21]:
s.str.swapcase

In [22]:
s

0             Tom
1    William Rick
2            John
3             NaN
4          Albert
5            1234
6     Steve Smith
dtype: object

In [23]:
s.str.findall('o')

0    [o]
1     []
2    [o]
3    NaN
4     []
5     []
6     []
dtype: object

In [28]:
s.str.split('')

0                               [, T, o, m, ]
1    [, W, i, l, l, i, a, m,  , R, i, c, k, ]
2                            [, J, o, h, n, ]
3                                         NaN
4                      [, A, l, b, e, r, t, ]
5                            [, 1, 2, 3, 4, ]
6       [, S, t, e, v, e,  , S, m, i, t, h, ]
dtype: object

In [36]:
s.str.startswith('J')

0    False
1    False
2     True
3      NaN
4    False
5    False
6    False
dtype: object

In [37]:
s.str.endswith('n')

0    False
1    False
2     True
3      NaN
4    False
5    False
6    False
dtype: object

In [38]:
s.str.isnumeric()

0    False
1    False
2    False
3      NaN
4    False
5     True
6    False
dtype: object

In [39]:
s.str.cat(sep='')

'TomWilliam RickJohnAlbert1234Steve Smith'